* {
    font-family: $font-primary;
    font-size: 10px;
    font-weight: normal;
}

body {
    background-color: $cl-anti-flash-white;
    color: $cl-rich-black;
    letter-spacing: 1.6px;
    margin: 0;
}