$cl-black: #000;
$cl-chartreuse: #81F327;
$cl-endeavour: #0065B7;
$cl-eastern-blue: #1E9AB2;
$cl-midnight-blue: #003866;
$cl-verdun-green: #357900;
$cl-white: #fff;

$font-primary: 'Cabin Condensed', Arial, Helvetica, sans-serif;
$font-secondary: 'Kaushan Script';