$cl-alto: #ddd;
$cl-anti-flash-white: #E8F1F2;
$cl-black: #000;
$cl-boston-university-red: #B80000;
$cl-chartreuse: #81F327;
$cl-dark-slate-gray: #2D4D5A;
$cl-deep-space-sparkle: #395C6B;
$cl-kelly-green: #49A400;
$cl-rich-black: #030303;
$cl-white: #fff;

$font-primary: 'Lato', Arial, Helvetica, sans-serif;
$font-secondary: 'Kaushan Script';