.result-wrapper {
    align-items: center;
    display: flex;
    height: 4.8rem;
    justify-content: center;
    margin: 0 2.4rem;

    > .msg {
        font-weight: bold;
        letter-spacing: 0;
        
        &.-success {
            font-size: 2rem;
        }

        &.-error {
            color: $cl-boston-university-red;
            font-size: 1.6rem;
        }
    }
}


.newgame-wrapper {

    margin: 0 2.4rem 2.4rem 2.4rem;

    > .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 0 0 1.6rem 0;
        padding: 0;
    }

    > .list > .item {
        display: inline-block;
        height: 5.6rem;
        margin-bottom: .8rem;
        position: relative;
        width: calc( (100% - 3.2rem) / 5 );
    }

    > .list > .item > .btn-number {
        background-color: $cl-white;
        border-radius: .4rem;
        border-style: none;
        box-shadow: 0 0 1px $cl-black;
        font-size: 2.4rem;
        height: 100%;
        outline: none;
        width: 100%;

        &.checked::before,
        &.checked::after {
            background-color: rgba($cl-black, .5);
            content: '';
            height: .5rem;
            left: 0;
            position: absolute;
            top: calc(50% - .25rem);
            width: 100%;
        }

        &.checked::before {
            transform: rotate(45deg);
        }

        &.checked::after {
            transform: rotate(135deg);
        }
    }

    > .control-buttons {
        display: flex;
        justify-content: space-between;
    }

    > .control-buttons > .clear-btn,
    > .control-buttons > .check-btn {
        border-radius: .4rem;
        border-style: none;
        height: 4.8rem;
        outline: none;
        width: 10.4rem;
    }

    > .control-buttons > .clear-btn {
        background-color: $cl-boston-university-red;
    }

    > .control-buttons > .check-btn {
        background-color: $cl-kelly-green;
    }

    > .control-buttons .icon {
        width: 2.4rem;
    }
}

.modal {

    display: none;

    &.opened {
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 10;

        > .content {
            align-items: center;
            background-color: $cl-white;
            border-radius: .8rem;
            box-shadow: 0 0 1.6rem 1px rgba($cl-black, .7);
            display: flex;
            flex-direction: column;
            height: 40rem;
            padding: 4rem 1.6rem 1.6rem 1.6rem;
            position: relative;
            width: calc(100vw - 9.6rem);
        }

        > .content > .close-modal {
            background: none;
            border: none;
            height: 4.8rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 4.8rem;

            &::before,
            &::after {
                content: '';
                background-color: $cl-silver;
                border-radius: 1rem;
                height: .4rem;
                left: 1.1rem;
                position: absolute;
                top: calc( 50% - .2rem );
                width: 2.4rem;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(135deg);
            }
        }

        > .content > .hits-label {
            font-size: 1.6rem;
            margin-bottom: .8rem;
        }

        > .content > .hits-qtd {
            color: $cl-kelly-green;
            font-size: 4rem;
        }

        > .content > .awards-info {

            width: 100%;

            > .title {
                color: $cl-dark-slate-gray;
                font-size: 1.6rem;
                font-weight: bold;
            }

            > .list {
                list-style: none;
                padding: 0;
            }

            > .list > .item {

                font-size: 1.6rem;
                letter-spacing: 0;

                &.title {
                    font-weight: bold;
                }

                &:not(.title) {
                    margin-left: .8rem;
                }

                &:not(:last-child) {
                    margin-bottom: .4rem;
                }
            }
        }
    }
}