@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
    background-image: linear-gradient(#0065B7, #1E9AB2);
    font-family: 'Lato', Arial, Helvetica, sans-serif; 

}

.container {
    margin: 0 auto;
    width: 90%;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.header .logo {
    width: 20%;
}

.header .logo img {
    width: 100%;
}